<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="./h12">30秒以内に返答がない場合</a></li>
      <li><a href="./h15">継続接続で55秒以内に返答がない場合</a></li>
      <li><a href="./r15">メモリオーバーフロー</a></li>
    </ul>
  </body>
</html>
